/* src/styles/ModuleCards.css */

:root {
  --hover-easing: cubic-bezier(0.23, 1, 0.32, 1);
  --return-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.title {
  font-family: 'Jura', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #5D4037;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.module-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.module-card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.module-card-wrap:focus .module-card-info,
.module-card-wrap:hover .module-card-info {
  transform: translateY(0);
}

.module-card-wrap:focus .module-card-info p,
.module-card-wrap:hover .module-card-info p {
  opacity: 1;
}

.module-card-wrap:focus .module-card,
.module-card-wrap:hover .module-card {
  transform: rotateY(10deg) translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
}

.module-card-wrap:focus .module-card::before,
.module-card-wrap:hover .module-card::before {
  background: rgba(0, 0, 0, 0.1);
  transition: 5s var(--hover-easing);
  opacity: 1;
  transform: translateY(0);
}

.module-card-info,
.module-card-info p {
  transition: 0.6s var(--hover-easing);
}

.module-card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 240px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 1s var(--return-easing), box-shadow 2s var(--hover-easing);
  transform-style: preserve-3d;
}

.module-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s var(--return-easing);
  border-radius: 12px;
}

.module-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.module-title {
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0073e6;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.module-description {
  position: relative;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  z-index: 1;
  transition: 0.3s var(--return-easing);
}

.module-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.module-card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #333;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.module-card-info * {
  position: relative;
  z-index: 1;
}

.module-card-info p {
  opacity: 0;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
