.action-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  align-items: start;
  width: 250px; /* Fixed width */
  transition: all 0.2s ease-in-out;
cursor: pointer;
position: relative;
}

.action-card.disabled {
opacity: 0.7;
 pointer-events: none;
  cursor: not-allowed;
}

.action-card.loading{
opacity: 0.7;
pointer-events: none;
  cursor: wait;
}

.action-card.used {
opacity: 0.7;
cursor: not-allowed;
    border: 2px solid #555;
}

.action-card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-card h3 {
margin-top: 0;
font-size: 1.2em;
margin-bottom: 8px;
  color: #333;
}

.action-card p {
 margin-bottom: 10px;
   color: #555;
  font-size: 0.9em;
}

.action-card-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action-card-cost{
font-size: 0.8em;
  color: #777;
}

.action-card .card-message {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 5px;
position: absolute;
 bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
 border-radius: 0 0 7px 7px;
transform: translateY(100%);
 opacity: 0;
transition: all 0.2s ease-in-out;
pointer-events: none;
}

.action-card.used .card-message{
opacity: 1;
  transform: translateY(0%);
}