/* src/components/effects/SevenSegmentDisplay.css */

/* Style for the container of the seven-segment display */
.seven-segment-container {
  position: relative;
    width: 30px; /* Adjusted to accommodate single digit display */
    height: 50px; /* Adjusted to fit the digit */
    display: inline-block; /* Ensure the container takes up only needed space */
    margin: 0 2px;
  background-color: black; /* Background to enhance the glow effect */
}

/* Common style for all segments */
.segment {
  position: absolute;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: transparent;
}

/* Style for horizontal segments (a, d, g) */
.segment-horizontal {
  height: 3px;
  width: 22px;
}

/* Style for vertical segments (b, c, e, f) */
.segment-vertical {
  width: 3px;
  height: 22px;
}

/* Active segment style for glowing effect */
.segment-active {
    background-color: orange;
   box-shadow: 0 0 5px orange, 0 0 10px orange;
}